.bait-preview{
  width: 30%;
  margin: 0 auto;

  box-shadow: -10px 10px 40px 0px var(--c2);

  // image
  &__image{
    height: 250px;
    position: relative;
    overflow: hidden;
    
    background: {
      size: cover;
      position: 50%;
      repeat: no-repeat;
    }

    &::before,
    &::after{
      content: '';
      display: block;
      width: 45%;
      height: 45%;

      position: absolute;
      
      z-index: 2;

      // background-color: var(--c1);
      transition: .15s ease-in;
      

      // transform: skewy(-45deg);
    }
    &::before{
      top: 0; 
      left: 0;

      box-shadow: 5px 5px 10px 0px rgba(0,0,0, .3);
    }
    &::after{
      bottom: 0; 
      right: 0;

      box-shadow: -5px -5px 10px 0px rgba(0,0,0, .3);
    }
  }

  // bottom
  &__preview-info{
    text-align: right;
    padding: 15px;
    // height: 250px;
  }

  // title
  &__name{
    margin: 0;
    font-size: 35px;
  }

  // price
  &__price{
    margin: 0;
  }
}