.bait-preview{
  width: 30%;
  margin: 0 auto;

  // padding: 15px;

  box-shadow: -10px 10px 40px 0px var(--c2);

  // image
  &__image{
    // margin-top: 15px;
    height: 250px;
    position: relative;
    overflow: hidden;
    
    background: {
      size: cover;
      position: 50%;
      repeat: no-repeat;
    }

    &::before{
      content: "";
      box-shadow: 0 0 40px 0 #000;

      position: absolute;
      left: -25%; 
      z-index: 1;

      width: 150%;
      height: 20px;

      background-color: var(--c1);
      transform: rotate(-2deg);
    }
    &::before{
      top: -10px; 
      border-bottom: 2px solid var(--c5);
    }
  }

  // bottom
  &__preview-info{
    text-align: right;
    padding: 30px 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // height: 250px;
  }

  // title
  &__name{
    margin: 0;
    font-size: 35px;
  }

  // price
  &__price{
    margin: 0;
  }

  // description
  &__description{
    width: 60%;
    margin: 0;
    font-size: 14px;
  }
}