.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1240px) {
    .container {
      padding-left: 20px;
      padding-right: 20px; } }

.text-center {
  text-align: center; }

@media (max-width: 991px) {
  .products-preview,
  .baits-colors,
  .feedbacks {
    margin-bottom: 30px; } }

@media (min-width: 992px) {
  .products-preview,
  .baits-colors,
  .feedbacks {
    margin-bottom: 60px; } }

.bait-preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 576px) and (max-width: 991px) {
    .bait-preview-container {
      margin-left: -10px;
      margin-right: -10px; } }
  @media (min-width: 992px) {
    .bait-preview-container {
      margin-left: -20px;
      margin-right: -20px; } }

.bait-preview {
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  text-align: left; }
  @media (max-width: 575px) {
    .bait-preview {
      flex-basis: 100%;
      margin-bottom: 20px; }
      .bait-preview:last-child {
        margin-bottom: 0; } }
  @media (min-width: 576px) and (max-width: 991px) {
    .bait-preview {
      flex-basis: 45%;
      max-width: 45%;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px; } }
  @media (min-width: 992px) {
    .bait-preview {
      flex-basis: 30%;
      max-width: 30%;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 40px; } }
  .bait-preview--link {
    text-decoration: none; }
  .bait-preview__image {
    height: 165px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat; }
  .bait-preview__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px 30px; }
  .bait-preview__price {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 3;
    width: 70px;
    height: 40px;
    line-height: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
    color: var(--c3);
    font-size: 14px;
    background: linear-gradient(90deg, var(--c4) 0%, var(--c5) 100%); }
  .bait-preview__weight {
    margin-bottom: 5px;
    color: var(--c5);
    font-size: 12px; }
  .bait-preview__name {
    position: relative;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: var(--c3); }
