@import '../../defaults.scss';

.bait-preview{
  padding: 30px 20px;

  box-shadow: -10px 10px 40px 0px var(--c2);

  background: linear-gradient(170deg, var(--c1) 60%,var(--c2) 60%,var(--c2) 100%);

  @media(max-width: $screen-sm-max) {
    width: 80%;
    margin: 0 auto;
  }
  @media(min-width: $screen-sm){
    width: 33%;
  }

  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
  }

  // image
  &__image{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
    background: {
      size: cover;
      position: 50%;
      repeat: no-repeat;
    }

    box-shadow: -5px 5px 10px 0px rgba(0,0,0, .3);

    &::after{
      content: "";
      display: block;
      padding-bottom: 110%;
    }
  }

  // title
  &__name{
    position: relative;
    margin: 0;

    text-align: left;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
  }

  // price
  &__price{ 
    padding: 8px 25px;
    margin-top: 20px;

    color: var(--c5);
    background-color: var(--c2);
    font-weight: 400;
    font-size: 25px;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  // description
  &__description{
    text-align: left;
    margin: 15px 0 0;

    font-size: 14px;
  }

  &__weight{
  }
}