.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.bait-preview {
  box-shadow: -10px 10px 40px 0px var(--c2); }
  @media (max-width: 767px) {
    .bait-preview {
      width: 80%;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .bait-preview {
      width: 50%; } }
  .bait-preview__image {
    height: 250px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat; }
    .bait-preview__image::before {
      content: "";
      box-shadow: 0 0 40px 0 #000;
      position: absolute;
      left: -25%;
      z-index: 1;
      width: 150%;
      height: 20px;
      background-color: var(--c1);
      transform: rotate(-2deg); }
    .bait-preview__image::before {
      top: -10px;
      border-bottom: 2px solid var(--c5); }
  .bait-preview__preview-info {
    text-align: right;
    padding: 30px 15px;
    display: flex;
    width: 100%; }
  .bait-preview__side {
    display: flex;
    flex-direction: column; }
    .bait-preview__side--left {
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center; }
    .bait-preview__side--right {
      align-items: flex-end; }
  .bait-preview__name {
    position: relative;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 35px; }
    .bait-preview__name::after {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      position: absolute;
      right: 0;
      bottom: -8px;
      z-index: 2;
      background-color: var(--c5); }
  .bait-preview__price span {
    vertical-align: sub; }
  .bait-preview__description {
    font-size: 14px; }
