.bait-preview {
  width: 30%;
  margin: 0 auto;
  box-shadow: -10px 10px 40px 0px var(--c2); }
  .bait-preview__image {
    height: 250px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat; }
    .bait-preview__image::before {
      content: "";
      box-shadow: 0 0 40px 0 #000;
      position: absolute;
      left: -25%;
      z-index: 1;
      width: 150%;
      height: 20px;
      background-color: var(--c1);
      transform: rotate(-2deg); }
    .bait-preview__image::before {
      top: -10px;
      border-bottom: 2px solid var(--c5); }
  .bait-preview__preview-info {
    text-align: right;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .bait-preview__name {
    margin: 0;
    font-size: 35px; }
  .bait-preview__price {
    margin: 0; }
  .bait-preview__description {
    width: 60%;
    margin: 0;
    font-size: 14px; }
