@import '../../defaults.scss';

.logo{
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  text-transform: uppercase;

  // text "custom"
  &__custom{
    color: var(--c5);
  }

  // text "baits"
  &__baits{
    
  }

  @media(max-width: $screen-md-max){
    font-size: 35px;
  }
  @media(min-width: $screen-md){
    font-size: 64px;
  }
}
