.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1240px) {
    .container {
      padding-left: 20px;
      padding-right: 20px; } }

.text-center {
  text-align: center; }

@media (max-width: 991px) {
  .products-preview,
  .baits-colors,
  .feedbacks,
  .product-view {
    margin-bottom: 30px; } }

@media (min-width: 992px) {
  .products-preview,
  .baits-colors,
  .feedbacks,
  .product-view {
    margin-bottom: 60px; } }

.logo {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none; }
  .logo__custom {
    color: var(--c5); }
  .logo__baits {
    color: var(--c3); }
