.logo{
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;

  // text "custom"
  &__custom{
    color: var(--c5);
  }

  // text "baits"
  &__baits{
    
  }
}
