@import '../../defaults.scss';

.logo{
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  text: {
    transform: uppercase;
    decoration: none;
  }

  // text "custom"
  &__custom{
    color: var(--c5);
  }

  // text "baits"
  &__baits{
    color: var(--c3);    
  }
}
