@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1240px) {
    .container {
      padding-left: 20px;
      padding-right: 20px; } }

.text-center {
  text-align: center; }

@media (max-width: 991px) {
  .products-preview,
  .baits-colors,
  .feedbacks,
  .product-view {
    margin-bottom: 30px; } }

@media (min-width: 992px) {
  .products-preview,
  .baits-colors,
  .feedbacks,
  .product-view {
    margin-bottom: 60px; } }

.product-view-row {
  display: flex; }
  .product-view-row:not(:last-child) {
    margin-bottom: 30px; }
  @media (max-width: 767px) {
    .product-view-row {
      flex-direction: column; } }
  .product-view-row .colors-wrapper {
    width: calc(100% + 10px); }

@media (min-width: 768px) {
  .product-view-side {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px; } }

.product-view-side--full {
  max-width: 100%;
  flex-grow: 1; }

.product-view__gallery * {
  outline: 0; }

.product-view__slider-slide-image {
  height: 500px;
  margin-bottom: 15px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.product-view__info {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--c2); }

.product-view__title {
  margin: 0;
  font-size: 40px; }

.product-view__price {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px; }

.product-view__text {
  margin-top: 25px;
  margin-bottom: 25px; }
  .product-view__text p:not(:last-child) {
    margin-bottom: 10px; }
