@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import '../../defaults.scss';

.product-view{
  
  &-slider{
    position: relative;
    margin-bottom: 25px;

    @media(min-width: $screen-sm){
      display: none;
    }

    .product-view__slider-slide-image{
      height: 300px;
    }

    // dots
    .slick-dots{
      bottom: 10px;

      li{
        margin: 2px 0;

        &.slick-active button:before{
          color: var(--c5);
        }
      }
    }
  }
  &-images{
    @media(max-width: $screen-sm-max){
      display: none;
    }

    .product-view__slider-slide-image{
      margin-bottom: 15px;
    }
  }

  // row
  &-row{
    display: flex;

    &:not(:last-child){
      margin-bottom: 30px;
    }

    @media(max-width: $screen-sm-max){
      flex-direction: column;
    }

    // colors component
    .colors-wrapper{
      width: calc(100% + 10px);
    }
  }

  &-side{
    @media(min-width: $screen-sm){
      flex: 0 0 50%;
      max-width: 50%;

      padding: {
        left: 15px;
        right: 15px;
      }
    }

    &--full{
      max-width: 100%;
      flex-grow: 1;
    }
  }
  
  // gallery
  &__gallery{
    * {
      outline: 0;
    }
  }
  &__slider-slide-image{
    height: 500px;

    background: {
      position: 50%;
      repeat: no-repeat;
      size: cover;
    }
  }

  // info wrapper
  &__info{
    padding: {
      top: 15px;
      bottom: 15px;
    }

    background-color: var(--c2);

    @media(max-width: $screen-sm-max){
      padding: {
        left: 15px;
        right: 15px;
      }
    }
  }

  // title
  &__title{
    margin: 0;

    font-size: 40px;
  }

  // price
  &__price{
    margin: {
      top: 15px;
      bottom: 15px;
    }

    font-size: 25px;
  }

  // text
  &__text{
    margin: {
      top: 25px;
      bottom: 25px;
    }

    p:not(:last-child){
      margin-bottom: 10px;
    }
  }
}
