.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1240px) {
    .container {
      padding-left: 20px;
      padding-right: 20px; } }

.text-center {
  text-align: center; }

@media (max-width: 991px) {
  .products-preview,
  .baits-colors,
  .feedbacks,
  .product-view {
    margin-bottom: 30px; } }

@media (min-width: 992px) {
  .products-preview,
  .baits-colors,
  .feedbacks,
  .product-view {
    margin-bottom: 60px; } }

.footer {
  margin-bottom: 30px;
  font-size: 14px;
  text-align: center; }
  .footer .logo {
    margin-bottom: 15px; }
    @media (max-width: 991px) {
      .footer .logo {
        font-size: 25px; } }
    @media (min-width: 992px) {
      .footer .logo {
        font-size: 35px; } }
  .footer__top, .footer__bottom {
    padding: 30px 15px; }
  .footer__top {
    background-color: var(--c2); }
  .footer__bottom {
    background-color: rgba(60, 68, 77, 0.5); }
