@import '../../defaults.scss';

.footer{
  margin-bottom: 30px;
  
  &__top{
    padding: {
      top: 30px;
      bottom: 30px;
    }

    background-color: var(--c2);
  }
  
  &__bottom{
    padding: 15px;

    // --c2
    background-color: rgba(60, 68, 77, .5);
  }

}
