.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center; }
  .socials-list li {
    margin-left: 12px;
    margin-right: 12px; }
  .socials-list a {
    display: block;
    color: var(--c3);
    text-decoration: none; }
  .socials-list svg {
    width: 24px;
    height: 24px; }
